.hero-section-custom {
    background-image: url("https://images.unsplash.com/photo-1561781563-2027669731c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: contain;
    background-attachment: fixed;
}

.text-light{
    color: white;
}