/* @tailwind base;

@tailwind components;

@tailwind utilites; */

html {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

body {
    display: block;
    margin: 8px;
}

.bg-gray-400 {
    background-color: rgba(203,213,224, 1);
}

.bg-cover {
    background-size: cover;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.border {
    border-width: 1px;
}

.rounded-lg {
    border-radius: .5rem;
}

.text-center {
    text-align: center;
}

.text-5xl {
    font-size: 3rem;
}

.border-b-4 {
    border-bottom-width: 4px;
}

.border-t-4 {
    border-top-width: 4px;
}

.border-double {
    border-style: double;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}

.pb-10 {
    padding-bottom: 2.5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.items-center {
    align-items: center;
}

.rounded {
    border-radius: .25rem;
}

.bg-gray-100 {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247,250,252,var(--bg-opacity));
}

.text-2xl {
    font-size: 1.5rem;
}

.h-24 {
    height: 6rem;
}

.justify-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
}

.bg-white {
    opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255, 1);
}

@media (min-width: 768px){
    .container {
        max-width: 768px;
    }
}

@media (min-width: 640px){
    .container {
        max-width: 640px;
    }
}

.mt-5 {
    margin-top: 1.25rem;
}
