:root {
    --gunmetal: rgb(34, 56, 67);
    --offwhite: rgb(239, 241, 243);
    --gray: rgb(219, 211, 216);
    --sand: rgb(216, 180, 160);
    --terracotta: rgb(215, 122, 97);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--offwhite);
    font-family: 'Noto Sans JP', sans-serif;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-hourglass 2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

h1,
.quote {
    font-family: 'Kaushan Script', cursive;
}

.map-bg {
    background-image: url("/map-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-color-gunmetal {
    background-color: var(--gunmetal);
}

.bg-color-offwhite {
    background-color: var(--offwhite);
}

.bg-color-terracotta {
    background-color: var(--terracotta);
}

.text-color-gunmetal {
    color: var(--gunmetal);
}

.border-color-sand {
    border-color: var(--sand);
}

.border-color-terracotta {
    border-color: var(--terracotta);
}

.box-shadow-offwhite {
    box-shadow: 1px 1px 5px var(--offwhite);
}

.w-search-section {
    width: 30%;
}

.w-country-info {
    width: 65%;
}

.h-country-info {
    height: 500px;
}

input,
select,
option {
    color: var(--gunmetal);
}

button:hover,
li:hover {
    color: var(--gunmetal);
}

.flag-btn:focus {
    outline: none;
}

.flag-btn .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: var(--gunmetal);
    color: var(--offwhite);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.flag-btn .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--gunmetal) transparent transparent transparent;
}

.flag-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width:1024px) {
    .w-search-section {
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }

    .search-section {
        display: inline-block;
        width: 48%;
        margin: 0;
    }

    .w-country-info {
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .content-container {
        width: 95%;
    }
}

@media screen and (max-width:768px) {
    .occupation {
        width: 80%;
    }
}

@media screen and (max-width:640px) {
    .content-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .w-search-section {
        flex-flow: column nowrap;
    }

    .search-section {
        width: 100%;
    }

    .search-section:last-child {
        margin-top: 20px;
    }

    .h-country-info {
        height: auto;
    }

    .figures {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:535px) {
    .flag-btn {
        margin: 0;
    }
}